<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <div>
      <ul>
        {{#each message}}
          <li>
            <h1>
              {{this.title}}
            </h1>
          </li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>